.container-support {
    width: 100%;
    height: 110px;
    background-color: #272727;
}

.row-support {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100px;

}

.row-support p {
    font-size: 13px;
}