.movie-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 16px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.movie-container {
    width: 320px;
    height: min-content;

}

.movie-specs {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.movie-poster {
    width: 320px;
    height: 430px;
    object-fit: fill;

}

.movie-name {
    margin-top: 0;
}

.movie-summary {
    margin: 0;
}

.movie-rating {
    font-size: 18px;
}